* {
	font-family: sans-serif;
}

body {
	background-image: linear-gradient(to right, #7fd1b7, white);
	text-align: center;
}

.control-link {
	text-decoration: none;
	color: blue;
	background-color: #EFEFEF;
	padding: 1%;
	margin-left: 0.5%;
	margin-right: 0.5%;
}